<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\ElasticsearchSqlFeeder\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\ElasticsearchSqlFeeder\${logger}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception} " deleteOldFileOnStartup="true"/>

    <target xsi:type="File" name="meteredDictionaryfile" fileName="c:\temp\ElasticsearchSqlFeeder\nlog-meteredDictionary-${threadid}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="writeToJsonfile" fileName="c:\temp\ElasticsearchSqlFeeder\nlog-writeToJson-${threadid}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception}" />
   
    <target xsi:type="File" name="jsonDocumentMergerfile" fileName="c:\temp\ElasticsearchSqlFeeder\nlog-jsondocumentmerger-${threadid}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\ElasticsearchSqlFeeder\nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target name="Errors" xsi:type="File" fileName="c:\temp\ElasticsearchSqlFeeder\ErrorLog.txt" layout="${longdate} ${message} ${exception:format=tostring}" deleteOldFileOnStartup="true"/>
    
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Warn" writeTo="errors" />
    <!--<logger name="ElasticSearchSqlFeeder.Shared.MeteredConcurrentDictionary" minlevel="Trace" writeTo="jsonDocumentMergerfile" />-->
    <!--<logger name="ElasticSearchJsonWriter.WriteToJsonQueue" minlevel="Trace" writeTo="writeToJsonfile" />
    <logger name="ElasticSearchJsonWriter.JsonDocumentMergerQueue" minlevel="Trace" writeTo="jsonDocumentMergerfile" />-->
    <!-- <logger name="ElasticSearchSqlFeeder.Shared.MeteredBlockingCollection" minlevel="Trace" writeTo="writeToJsonfile" /> -->
    
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>